In [15]:
f = open("./data/groceries.csv")
cnt = f.read()

In [31]:
csv = open("./data/groceries_aligned.csv", "w")

In [32]:
rows = cnt.split("\n")

mmax = 0
for r in rows:
    mmax = max([len(r.split(",")), mmax])
    
for i in range(mmax - 1):
    csv.write("Product" + str(i+1) + ",")

csv.write("Product" + str(mmax))
csv.write("\n")

for r in rows:
    tokens = r.split(",")
    diff = mmax - len(tokens)
    
    toadd = ""
    for _ in range(diff):
        toadd += ","
    
    final = r + toadd + "\n"
    csv.write(final)
    
csv.close()

In [33]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [34]:
data = pd.read_csv("./data/groceries_aligned.csv") 
data.head()

,Product1,Product2,Product3,Product4,Product5,Product6,Product7,Product8,Product9,Product10,...,Product23,Product24,Product25,Product26,Product27,Product28,Product29,Product30,Product31,Product32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data.columns

Index(['Product1', 'Product2', 'Product3', 'Product4', 'Product5', 'Product6',
       'Product7', 'Product8', 'Product9', 'Product10', 'Product11',
       'Product12', 'Product13', 'Product14', 'Product15', 'Product16',
       'Product17', 'Product18', 'Product19', 'Product20', 'Product21',
       'Product22', 'Product23', 'Product24', 'Product25', 'Product26',
       'Product27', 'Product28', 'Product29', 'Product30', 'Product31',
       'Product32'],
      dtype='object')

In [41]:
ds = pd.read_csv("./data/groceries_aligned.csv")

In [55]:
prod = set([])
for col in ds:
    
    
    print(ds.loc[9834][col])

chicken
tropical fruit
other vegetables
vinegar
shopping bags
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [43]:
frq_items = apriori(ds, min_support = 0.05, use_colnames = True) 
  
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value citrus fruit